In [1]:
import SinglePython
import pandas as pd
import numpy as np
import utils

In [3]:
# Loading reference dataset and reference annotation
refDataset = pd.read_csv("./Data/Reference/10X/10X_data.csv", sep=",", decimal = ",", index_col = 0)
refDataset = refDataset.astype('float')
refAnnot = pd.read_csv("./Data/Reference/10X/10X_annot.csv",sep=",", index_col = 0)

In [4]:
# A reference expression data exmaple
refDataset.head()

,GTGCTAGAAGCAAA-1,CGTACCACGTCGTA-1,AACACTCTTTCGGA-1,CGATCAGATTGGTG-1,TACTACTGTCGATG-1,GATCTTACCCGCTT-1,TACTTGACGGAGCA-1,GGGTAACTCTCTCG-1,TGAATAACTTCGCC-1,AAGTCCGACTTGCC-1,...,CCAACCTGAAAAGC-1,GCACCTTGTCCAGA-1,CACTAACTAAGAAC-1,ATGCAGACTCAGTG-1,CCGGAGACCGTTAG-1,TTATGGCTGTATCG-1,CGGGACTGTGGTGT-1,TCATTCGACGTGTA-1,CTTGAGGATGTGAC-1,TCATGTACGGTACT-1
MIR1302-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAM138A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OR4F5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RP11-34P13.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RP11-34P13.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# A annotation data exmaple
refAnnot.head()

                 cellType
GTGCTAGAAGCAAA-1  B_cells
CGTACCACGTCGTA-1  B_cells
AACACTCTTTCGGA-1  B_cells
CGATCAGATTGGTG-1  B_cells
TACTACTGTCGATG-1  B_cells

In [7]:
# An example for a single cell experiment
# The input is the file path which the count data is present.
# 10X datasets are automatically identified. 
# For the count data that is present in a csv file. Please make sure the file has "expression" keyword in file name in order
# for the program to identify it.
data =utils.readSCData("./Data/Datasets/Sample_10X/",200)

Variable names are not unique. To make them unique, call `.var_names_make_unique`.

In [8]:
# Single cell data example
data.obs.head()

                    n_counts  n_genes
AAACCCAAGGAGAGTA-1    8288.0     2620
AAACGCTTCAGCCCAG-1    5512.0     1808
AAAGAACAGACGACTG-1    4283.0     1562
AAAGAACCAATGGCAG-1    2754.0     1225
AAAGAACGTCTGCAAT-1    6592.0     1831

In [10]:
# Single cell data example
data.var.head()

Empty DataFrame
Columns: []
Index: [MIR1302-2HG, FAM138A, OR4F5, AL627309.1, AL627309.3]

In [13]:
# A singlePython object is created. 
# This object keeps the original single cell data as an AnnData format (scanpy format).
obj = SinglePython.SinglePythonObject(refDataset=refDataset,refAnnot=refAnnot,scData=data,fine_tuning=True,tuning_by="threshold",multiProcess=True)

In [14]:
# The function below starts the annotation procedure.
# The result is added as a observation to the original single cell AnnData object.
obj.annotateCellTypes()

In [16]:
# The result can be obtained from AnnData object for further examinations.
obj.scData.obs.head()

                    n_counts  n_genes      cell_type
AAACCCAAGGAGAGTA-1    8288.0     2620       Monocyte
AAACGCTTCAGCCCAG-1    5512.0     1808        B_cells
AAAGAACAGACGACTG-1    4283.0     1562  T_cell/Memory
AAAGAACCAATGGCAG-1    2754.0     1225  T_cell/Memory
AAAGAACGTCTGCAAT-1    6592.0     1831  T_cell/Memory